#root {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    margin: 0 auto;
}

.field {
    background-color: gray;
    outline: 1px solid black;
}