* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://momentum.photos/img/bddf42be-dfa0-48f7-8ce4-4973360f8fe9.jpg"),
        no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-clock-title {
    color: white;
    font-size: 1000%;
    font-weight: bold;
}

.js-greeting {
    color: white;
    margin-top: 25px;

}

.username-input {
    border: none;
    background-color: none;
    background: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 2em;
    line-height: 1.5;
    color: white;
    text-align: center;
}

#modal {
    height: auto;
    min-width: 230px;
    position: absolute;
    bottom: 50px;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
}

.modal-header {
    margin-bottom: 5px;
    color: rgb(165, 165, 165);
}

.modal-form {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.modal-wrapper {
    position: relative;
    padding-bottom: 50px;
}

.modal-open {
    display: flex;
}

.close {
    display: none;
}

.to-do-list {
    list-style: none;
}

.to-do-input {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #fff;
    outline: none;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 10px; 

}

.li-todo {
    padding-top: 5px;
    cursor:pointer;
}

.li-done {
    text-decoration: line-through;
}

.li-todo:first-child {
    padding-top: 10px;
}

#weather {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
}