div {
    padding: 20px;
    font-size: 30px;
    font-family: monospace;
    border: 1px solid black;
    max-width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  